/* base.css */
body{
    font-family: var(--fonte-principal);
    color: #333333;
}

main{
    padding: 2.5rem 0 0;
    max-width: 1360px;
    margin: 0 auto;
}

.btn{
    font-size: 1.25rem;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    font-weight: 500;
    padding: 5px 20px;
    transition: background-color 0.3s, border 0.3s;
}

div .btn:hover{
    background-color: #6329A2;
    color: #fff;
    border-color: #6329A2;
}

.btn-outline{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    margin-right: 1rem;
}

.btn-filled{
    background-color: #fff;
    color: #6329A2;
}