/* header.css */
.header {
  background-color: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 40px);
  border-radius: 15px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.230rem 1.30em;
}

.logo a img:hover {
  height: 40px;
  background-color: red;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center a,
.nav-right a{
    font-size: 1.25rem;
    color: #333;
}

.nav-center a:hover,
.nav-right a:hover{
    font-size: 1.25rem;
    font-weight: 500;
    color: red;
}

.nav-right ul{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-right img{
    width: 24px;
    height: 24px;
}

.nav-right a:hover img{
    opacity: 0.7;
}

.logo img {
  width: 180px;
  height: 50px;
}