/* hero.css */
.hero{
    background: url(../../images/banners/93f6df06-b574-4d35-aa24-5a3cba776bae3.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 4rem;
}

.hero-content{
    color: #fff;
    max-width: 388px;
}