/* hero.css */
.hero{
    background: url(../../images/banners/93f6df06-b574-4d35-aa24-5a3cba776bae3.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 7rem;
}

.hero-content{
    margin-top: 8rem;
    color: #fff;
    max-width: 23rem;
    text-align: center;
}

.hero-content .hero-title{
    font-size: 1.67rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
    line-height: 2rem;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

div .hero-buttons .btn{
    font-size: 1.25rem;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    font-weight: 500;
    padding: 10px 20px;
    transition: background-color 0.3s, border 0.3s;
}

div .hero-buttons .btn:hover{
    background-color: #6329A2;
    color: #fff;
    border-color: #6329A2;
}

.btn-outline{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    margin-right: 1rem;
    
}

.btn-filled{
    background-color: #fff;
    color: #6329A2;
}